langchain==0.1.4
pandas==2.0.1
tiktoken==0.4.0
openai==0.27.2
langchain_google_genai==0.0.4
gradio==3.50.2
datasets==2.15.0
tiktoken==0.4.0
z3-solver==4.15.1.0
anthropic
mistralai==0.1.8
pandas
dotenv==0.9.9

torch==2.8.0
transformers==4.55.4
google-genai==1.33.0